*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

nav{
	background: #010936;
	height: 80px;
	width: 100%;
}

label.logo{
	color: #d0d1d9;
	font-size: 25px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: #d0d1d9;
	font-size: 13px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}

a:hover{
	background-color: #1b9bff;
	transition: .5s;
}

a:focus{
	background-color: #1b9bff;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}